<div class="box">
  <div class="box__items">
    <div (click)="check()" class="box__items__left">
      <div><i class="fa-solid fa-caret-left"></i></div>
    </div>
    <div class="box__items__right">
      <div class="box__items__right__item">
        <div class="box__items__right__item__name">all on</div>
        <div class="box__items__right__item__name">evening</div>
        <div class="box__items__right__item__name">night</div>
        <div class="box__items__right__item__name">entertain</div>
        <div class="box__items__right__item__name">all off</div>

        <div class="box__items__right__item__name invisible"></div>
        <div class="box__items__right__item__name invisible"></div>
        <div
          class="box__items__right__item__name box__items__right__item__name--bottom"
        >
          <div class="box__items__right__item__name--bottom__left">
            <i class="fa-solid fa-caret-down"></i>
          </div>
          <div class="box__items__right__item__name--bottom__right">
            <i class="fa-solid fa-caret-up"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
