
<div class="box">
  <div class="box__items">
    <div  class="box__items__left">
      <div  (click)="closeMore2()"   ><i class="fa-solid fa-caret-left"></i></div>
    </div>
    <div class="box__items__right">
      <div class="box__items__right__item">

     <div class="box__items__right__item__power">
      <div class="box__items__right__item__power__panel box__items__right__item__power__panel--power">
        <p>power</p>
      </div>
      <div class="box__items__right__item__power__panel box__items__right__item__power__panel--on">
        <div class="box__items__right__item__power__panel--on__div">
          <div class="box__items__right__item__power__panel--on__div__left">
            <div class="box__items__right__item__power__panel--on__div__left__dot"></div>
          </div>
          <div class="box__items__right__item__power__panel--on__div__right">
            <p>on/off</p>
          </div>
        </div>
      </div>
      <div class="box__items__right__item__power__panel box__items__right__item__power__panel--power">
        <p>mode</p>
      </div>
      <div class="box__items__right__item__power__panel box__items__right__item__power__panel--mode">
                               <div class="box__items__right__item__power__panel--mode__item">
                                <p>cool</p>
                               </div>
                               <div class="box__items__right__item__power__panel--mode__item">
                                <p>heat</p>
                               </div>
                               <div class="box__items__right__item__power__panel--mode__item">
                                <p>auto</p>
                               </div>
                               <div class="box__items__right__item__power__panel--mode__item box__items__right__item__power__panel--mode__item--icons">

                                <i class="fa-solid fa-snowflake bg"></i>
                           </div>
      </div>
      <div class="box__items__right__item__power__panel box__items__right__item__power__panel--power">
        <p>fan</p>
      </div>
      <div class="box__items__right__item__power__panel box__items__right__item__power__panel--fan">
        <div class=" box__items__right__item__power__panel--fan__item">
          <p>low</p>
        </div>
        <div class=" box__items__right__item__power__panel--fan__item">
          <p>mid</p>
        </div>
        <div class=" box__items__right__item__power__panel--fan__item">
          <p>high</p>
        </div>
      </div>
      <div class="box__items__right__item__power__panel"></div>
      <div class="box__items__right__item__power__panel"></div>
     </div>
     <div class="box__items__right__item__temp">
<div class="box__items__right__item__temp__panel box__items__right__item__temp__panel--temp">
  <p>temp</p>
</div>
<div class="box__items__right__item__temp__panel  box__items__right__item__temp__panel--deg">
          <p>&#8451;</p>
</div>
<div class="box__items__right__item__temp__panel box__items__right__item__temp__panel--arrowUp">

  <div class="box__items__right__item__temp__panel--arrowUp__item">
    <i class="fa-solid fa-caret-up"></i>
  </div>

</div>
<div class="box__items__right__item__temp__panel box__items__right__item__temp__panel--arrowMiddle">
  <div class="box__items__right__item__temp__panel--arrowMiddle__item">
    <p>00&#8451;</p>
  </div>
</div>
<div class="box__items__right__item__temp__panel box__items__right__item__temp__panel--arrowBottom">
  <div class="box__items__right__item__temp__panel--arrowBottom__item">

    <i class="fa-solid fa-caret-down"></i>

  </div>
</div>
<div class="box__items__right__item__temp__panel"></div>
<div class="box__items__right__item__temp__panel  box__items__right__item__power__panel--power     ">
  <p>underfloor heating</p>
</div>
<div class="box__items__right__item__temp__panel box__items__right__item__temp__panel--heating">
     <div class="box__items__right__item__temp__panel--heating__item1">
      <p>off</p>
     </div>
     <div class="box__items__right__item__temp__panel--heating__item2">
      <p>on</p>
     </div>
</div>



     </div>




      </div>
    </div>
  </div>
</div>
