<div (click)="dpad($event)" class="container">
  <div class="container__box">
    <div class="container__box__item clear"></div>
    <div class="container__box__item container__box__item--top">
      <div
        data-numbers="top"
        class="container__box__item container__box__item--top__box"
      >
        <div data-numbers="top"></div>
      </div>
    </div>
    <div class="container__box__item clear"></div>
    <div class="container__box__item container__box__item--left">
      <div
        data-numbers="left"
        class="container__box__item container__box__item--left__box"
      >
        <div data-numbers="left"></div>
      </div>
    </div>
    <div class="container__box__item container__box__item--middle">
      <div
        data-numbers="ok"
        class="container__box__item container__box__item--middle__box"
      >
        <p data-numbers="ok">{{ name }}</p>
      </div>
    </div>
    <div class="container__box__item right container__box__item--right">
      <div
        data-numbers="right"
        class="container__box__item right container__box__item--right__box"
      >
        <div data-numbers="right"></div>
      </div>
    </div>
    <div class="container__box__item clear"></div>
    <div class="container__box__item container__box__item--bottom">
      <div
        data-numbers="bottom"
        class="container__box__item--bottom container__box__item--bottom__box"
      >
        <div data-numbers="bottom"></div>
      </div>
    </div>
    <div class="container__box__item clear"></div>
  </div>
</div>
