
<div class="box__search__top">
  <div class="box__search__top__items box__search__top__items--first">
    <p></p>
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
  <div class="box__search__top__items box__search__top__items--dots">
    <p></p>
    <i class="fa-solid fa-ellipsis"></i>

  </div>
  <div class="box__search__top__items">
    <p></p>
    <i class="fa-solid fa-question"></i>
  </div>
  <div class="box__search__top__items">
    <p>info</p>
  </div>
  <div class="box__search__top__items box__search__top__items--last">
    <p>presets</p>
  </div>
</div>
