
<div    class="box">

  <div class="box__main">




    <div class="box__main__right">


<div class="box__main__right__box">
  <div class="box__main__right__box__itemLeft">
  <div class="box__main__right__box__itemLeft__box">
     <span>back</span> <!-- <span>ch</span> <i class="fa-solid fa-caret-up"></i> -->
  </div>
  </div>
  <div class="box__main__right__box__itemRight">
    <span>menu</span>
  </div>
    <div class="box__main__right__box__item box__main__right__box__item--top"></div>
    <div class="box__main__right__box__item box__main__right__box__item--top"></div>
    <div class="box__main__right__box__item box__main__right__box__item--top">
      <div class="box__main__right__box__item box__main__right__box__item--top__dot">
         <div class="box__main__right__box__item--top__dot__item"></div>
      </div>
    </div>
    <div class="box__main__right__box__item box__main__right__box__item--middle"></div>
    <div class="box__main__right__box__item box__main__right__box__item--middle"></div>
    <div class="box__main__right__box__item box__main__right__box__item--middle">

      <div class="box__main__right__box__item box__main__right__box__item--middle__left">
        <div class="box__main__right__box__item--middle__left__item"></div>
      </div>
      <div class="box__main__right__box__item box__main__right__box__item--middle__ok">ok</div>

      <div class="box__main__right__box__item box__main__right__box__item--middle__right">
        <div class="box__main__right__box__item--middle__right__item"></div>
      </div>


    </div>

    <div class="box__main__right__box__item box__main__right__box__item--bottom"></div>
    <div class="box__main__right__box__item box__main__right__box__item--bottom">
      <div class="box__main__right__box__item    box__main__right__box__item--bottom__dot">
        <div class=" box__main__right__box__item--bottom__dot__item"></div>
      </div>
    </div>
    <div class="box__main__right__box__item box__main__right__box__item--bottom"></div>
<!--

    <div class="box__main__right__box__bottomLeft">
      <div class="box__main__right__box__bottomLeft__box">
        <span>ch</span><i class="fa-solid fa-caret-down"></i>
      </div>
    </div> -->
    <!-- <div class="box__main__right__box__bottomRight">
      <span>back up</span>
    </div> -->
</div>




    </div>
    <div class="box__main__bottom">
      <div (click)="apple()"  class="box__main__bottom__left">
        <div class="box__main__bottom__left__item">
          <i class="fa-solid fa-caret-left"></i>
        </div>
      </div>
      <div class="box__main__bottom__middle">
        <div class="box__main__bottom__middle__box">
          <div
            class="box__main__bottom__middle__box__item box__main__bottom__middle__box__item--first"
          >
            <i class="fa-solid fa-backward"></i>
          </div>
          <!-- <div class="box__main__bottom__middle__box__item">
            <i class="fa-solid fa-stop"></i>
          </div> -->
          <div class="box__main__bottom__middle__box__item">
            <i class="fa-solid fa-play"></i>
          </div>
          <div class="box__main__bottom__middle__box__item">
            <i class="fa-solid fa-pause"></i>
          </div>
          <!-- <div class="box__main__bottom__middle__box__item">
            <div class="box__main__bottom__middle__box__item__record"></div>
          </div> -->
          <div
            class="box__main__bottom__middle__box__item box__main__bottom__middle__box__item--last"
          >
            <i class="fa-solid fa-forward"></i>
          </div>
        </div>
      </div>
      <div class="box__main__bottom__right">
        <div class="box__main__bottom__right__item">

          <div class="box__main__bottom__right__item__items">

            <div class="box__main__bottom__right__item__items__top">
              <p>apple tv</p>
              <p>reset</p>
            </div>
            <div class="box__main__bottom__right__item__items__bottom">
              <i class="fa-solid fa-arrows-rotate"></i>
              <p>hold for 2s</p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
